@tailwind base;
@tailwind components;
@tailwind utilities;

.max-line-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

@layer components {
        .btn {
                @apply py-3 px-6 rounded-sm
        }
        .btn-primary {
                @apply bg-accent text-white
        }
}
